.home-container {
  height: 100vh;

  background-color: #1D1D1D;
  grid-template-columns: 50vw 50vw;
}

.greeting-container {
  grid-column: 1/2;
  justify-content: center;
  align-items: center;

  margin-bottom: 400px;
}

.greeting-name {
  color: white;
  font-size: 50px;
}

.greeting-description {
  color: white;
  font-size: 30px;  
}

.medias-links {
  margin-top: 20px;
  margin-left: -4px;
}

.icon-link {
  height: 40px;
  margin-right: 30px;
}

.icon-link img {
  height: 100%;
}

@media (max-width: 900px) {
  .home-container {
    height: 100vh;
    width: 100vw;
  
    grid-template-columns: 100vw;
  }

  .greeting-container {

    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 0;
    margin-left: 50px;
  }
  
  .animation-container {
    display: hidden;
  }
}