.menu {
  background: linear-gradient(90deg, rgba(218,40,128,1) 0%, rgba(23,182,203,1) 100%);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  cursor: pointer;box-shadow: 0 0 0 0 rgba(218,40,128,1), 0 0 0 0 rgba(218,40,128,1);
  transition: box-shadow 1.1s cubic-bezier(.19,1,.22,1);
  position: absolute;
  z-index: 9;
}

.menu:hover {
  box-shadow: 0 0 0 8px rgba(23,182,203,1), 0 0 0 8px rgba(218,40,128,1);
}

input {
  display: none;
}

.hamburguer {
  position: relative;
  display: block;
  width: 30px;
  height: 2px;
  background: #ffffff;
  top: 29px;
  left: 15px;
  transition: .6s ease-in-out;
}

.hamburguer:after,
.hamburguer:before {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background: #ffffff;
  content: '';
  transition: .6s ease-in-out;
}

.hamburguer:after {
  top: -10px;
}

.hamburguer:before {
  bottom: -10px;
}

input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}

input:checked ~ label .hamburguer:after {
  top: 0;
  transform: rotate(90deg);
}

input:checked ~ label .hamburguer:before {
  bottom: 0;
  transform: rotate(90deg);
}

input:checked ~ label .menu {
  box-shadow: 0 0 0 130vw rgba(23,182,203,1), 0 0 0 130vh rgba(218,40,128,1);
}

input:checked ~ nav {
  opacity: 1;
}

.nav-menu-hamburguer {
  position: absolute;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  transition: .25s .1s cubic-bezier(0, 1.07, 0, 1.02);
}

.nav-link-hamburguer {
  display: block;
  text-decoration: none;
  margin-bottom: 40px;
  font-size: 47px;
  color: white;
}